#          Copyright Dominic (DNKpp) Koepke 2025.
# Distributed under the Boost Software License, Version 1.0.
#    (See accompanying file LICENSE_1_0.txt or copy at
#          https://www.boost.org/LICENSE_1_0.txt)

name: build & test
on:
  push:
    branches: [ main, development ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'
  pull_request:
    branches: [ main, development ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'

jobs:
  build-and-test:
    runs-on: ${{ matrix.config.os }}
    container: ${{ matrix.config.container.image }}
    name: |
      ${{ matrix.config.prefix }} 
      ${{ matrix.config.compiler.name }}-${{ matrix.config.compiler.version }} 
      ${{ matrix.config.suffix }} 
      (C++${{ matrix.cxx_standard }}, ${{ matrix.build_mode }}, ${{ matrix.architecture }})

    strategy:
      fail-fast: false
      matrix:
        architecture: [ 64bit, 32bit ]
        build_mode: [ Debug, Release ]
        cxx_standard: [ 20, 23 ]
        config:
          # clang
          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:21"
            compiler:
              name: "clang"
              version: "21"
            asan: true

          - prefix: "Ubuntu"
            suffix: "/libc++"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:21"
            compiler:
              name: "clang"
              version: "21"
            libcxx: true

          - prefix: "Ubuntu"
            suffix: "/libc++"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:20"
            compiler:
              name: "clang"
              version: "20"
            libcxx: true

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:20"
            compiler:
              name: "clang"
              version: "20"

          - prefix: "Ubuntu"
            suffix: "/libc++"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:19"
            compiler:
              name: "clang"
              version: "19"
            libcxx: true

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:19"
            compiler:
              name: "clang"
              version: "19"

          # mimic++ does not work with clang-18 and libc++, because the std::invocable concept is flawed.
          #- prefix: "Ubuntu"
          #  suffix: "/libc++"
          #  os: "ubuntu-latest"
          #  container:
          #    image: "ghcr.io/dnkpp/clang:18"
          #  compiler:
          #    name: "clang"
          #    version: "18"
          #  libcxx: true

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:18"
            compiler:
              name: "clang"
              version: "18"

          - prefix: "Ubuntu"
            suffix: "/libc++"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:17"
            compiler:
              name: "clang"
              version: "17"
            libcxx: true

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:17"
            compiler:
              name: "clang"
              version: "17"

          - prefix: "Ubuntu"
            suffix: "/libc++"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:16"
            compiler:
              name: "clang"
              version: "16"
            libcxx: true

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/clang:16"
            compiler:
              name: "clang"
              version: "16"

          # gcc
          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/gcc:15"
            compiler:
              name: "gcc"
              version: "15"
            asan: true

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/gcc:14"
            compiler:
              name: "gcc"
              version: "14"

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/gcc:13"
            compiler:
              name: "gcc"
              version: "13"

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/gcc:12"
            compiler:
              name: "gcc"
              version: "12"

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/gcc:11"
            compiler:
              name: "gcc"
              version: "11"

          - prefix: "Ubuntu"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/gcc:10"
            compiler:
              name: "gcc"
              version: "10"

          # This is the latest debian-11 (aka `bullseye`) version
          - prefix: "Debian-11"
            os: "ubuntu-latest"
            container:
              image: "ghcr.io/dnkpp/debian:bullseye-slim"
            compiler:
              name: "gcc"
              version: "10.2"

          # msvc
          - prefix: "Windows 2022"
            os: "windows-2022"
            compiler:
              name: "msvc"
              version: "v143"
            cmake_generator: "Visual Studio 17 2022"

          - prefix: "Windows 2022"
            os: "windows-2022"
            compiler:
              name: "msvc"
              version: "ClangCl"
            cmake_generator: "Visual Studio 17 2022"

          # AppleClang
          # The specified AppleClang version is just an assumption, which will be verified during the setup step.
          - prefix: "macOS"
            os: "macos-15"
            xcode: "16.2"
            compiler:
              name: "AppleClang"
              version: "16"

          - prefix: "macOS"
            os: "macos-15"
            xcode: "16.4"
            compiler:
              name: "AppleClang"
              version: "17"

        exclude:
          # gcc-10 doesn't know C++-23
          - cxx_standard: 23
            config:
              compiler:
                name: "gcc"
                version: "10"
          - cxx_standard: 23
            config:
              compiler:
                name: "gcc"
                version: "10.2"
          # It seems macOS doesn't support 32bit builds.
          - architecture: "32bit"
            config:
              prefix: "macOS"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      #############
      #
      # Start Setup
      #
      - name: Setup base cmake options
        shell: bash
        run: |
          CMAKE_OPTIONS="--log-level=DEBUG \
                          -D CMAKE_VERBOSE_MAKEFILE=ON \
                          -D GIMO_CONFIG_CXX_STANDARD=${{ matrix.cxx_standard }} \
                          -D CMAKE_SKIP_INSTALL_RULES=ON \
                          -D GIMO_ENABLE_INSTALL_RULES=OFF \
                          -D GIMO_BUILD_TESTS=ON \
                          -D GIMO_BUILD_BENCHMARKS=OFF"
          
          if [[ "${{ matrix.build_mode }}" == "Release" ]]; then
            CMAKE_OPTIONS="${CMAKE_OPTIONS} -D GIMO_BUILD_BENCHMARKS=ON"
          fi
          
          echo "CMAKE_BASE_OPTIONS=$(echo ${CMAKE_BASE_OPTIONS} ${CMAKE_OPTIONS})" >> $GITHUB_ENV

      - name: Setup macOS
        if: startsWith(matrix.config.os, 'macos')
        shell: bash
        run: |
          ls /Applications | grep Xcode
          sudo xcode-select -s "/Applications/Xcode_${{ matrix.config.xcode }}.app/Contents/Developer"
          clang --version
          clang --version | grep -q "Apple clang version ${{ matrix.config.compiler.version }}." || {
              echo "ERROR: Expected AppleClang ${{ matrix.config.compiler.version }}.x, but got something else."
              exit 1
          }

      - name: Setup linux
        if: startsWith(matrix.config.os, 'ubuntu-')
        shell: bash
        run: |
          echo "CMAKE_BASE_OPTIONS=$(echo ${CMAKE_BASE_OPTIONS} -DCMAKE_BUILD_TYPE=${{ matrix.build_mode }})" >> $GITHUB_ENV

      - name: Setup msvc
        if: ${{ matrix.config.compiler.name  == 'msvc' }}
        shell: bash
        run: |
          # translate architecture to appropriate platform config
          if [[ "${{ matrix.architecture }}" == "64bit" ]]; then
            PLATFORM="x64"
          elif [[ "${{ matrix.architecture }}" == "32bit" ]]; then
            PLATFORM="Win32"
          fi
          
          echo "CMAKE_BASE_OPTIONS=$(echo ${CMAKE_BASE_OPTIONS} \
                                            -G\"${{ matrix.config.cmake_generator }}\" \
                                            -T\"${{ matrix.config.compiler.version }}\" \
                                            -A\"${PLATFORM}\" \
                                      )" >> $GITHUB_ENV
          echo "CMAKE_BUILD_EXTRA=$(echo ${CMAKE_BUILD_EXTRA} --config ${{ matrix.build_mode }})" >> $GITHUB_ENV

      - name: Clang libc++ setup
        if: ${{ matrix.config.compiler.name == 'clang' && matrix.config.libcxx == true }}
        shell: bash
        run: |
          echo "CXXFLAGS=$(echo ${CXXFLAGS} -stdlib=libc++)" >> $GITHUB_ENV
          echo "LDFLAGS=$(echo ${LDFLAGS} -lc++abi)" >> $GITHUB_ENV

      - name: Setup 32bit on Linux
        if: ${{ matrix.architecture == '32bit' && matrix.config.prefix == 'Linux' }}
        shell: bash
        run: |
          echo "CXXFLAGS=$(echo ${CXXFLAGS} -m32)" >> $GITHUB_ENV
          echo "CFLAGS=$(echo ${CFLAGS} -m32)" >> $GITHUB_ENV
          echo "LDFLAGS=$(echo ${LDFLAGS} -m32)" >> $GITHUB_ENV

      - name: Setup 32bit libc++ on Linux
        if: ${{
          matrix.architecture == '32bit'
          && matrix.config.prefix == 'Linux'
          && matrix.config.libcxx == true
          }}
        shell: bash
        # remove 64bit binaries and install 32bit versions.
        # I don't know, how to install them side by side.
        run: |
          apt-get remove -y \
            libc++-${{ matrix.config.compiler.version }}-dev \
            libc++abi-${{ matrix.config.compiler.version }}-dev
          apt-get autoremove -y
          
          dpkg --add-architecture i386
          apt-get update -y
          apt-get install -y \
            libc++-${{ matrix.config.compiler.version }}-dev:i386 \
            libc++abi-${{ matrix.config.compiler.version }}-dev:i386

      - name: Enable Address and Undefined Sanitizer
        if: ${{ matrix.config.asan && matrix.build_mode == 'Debug' }}
        shell: bash
        run: |
          # ASan has some serious trouble with libc++ exception mechanism
          # see: https://github.com/llvm/llvm-project/issues/59432
          #if [[ "${{ matrix.config.libcxx }}" ]]; then
          #  echo "ASAN_OPTIONS=$(echo ${ASAN_OPTIONS}:alloc_dealloc_mismatch=0)" >> $GITHUB_ENV
          #fi

          echo "CMAKE_BASE_OPTIONS=$(echo ${CMAKE_BASE_OPTIONS} -DSANITIZE_ADDRESS=YES -DSANITIZE_UNDEFINED=YES)" >> $GITHUB_ENV

      #
      # End Setup
      #
      #############

      #############
      #
      # Start Build
      #
      - name: Configure Framework
        shell: bash
        run: |
          cmake \
              -S . \
              -B build \
              ${{ env.CMAKE_BASE_OPTIONS }}

      - name: Build Framework
        shell: bash
        run: |
          cmake --build build \
              -j5 \
              ${{ env.CMAKE_BUILD_EXTRA }}

      - name: Run Tests
        shell: bash
        run: |
          ctest --test-dir build \
              --output-on-failure \
              --schedule-random \
              --no-tests=error \
              --parallel \
              -C ${{ matrix.build_mode }} \
      #
      # End Build
      #
      #############
